<ion-header>
  <ion-navbar class="custom-header">
    <ion-icon class="header-action-icon pull-left" name="arrow-back" tapable (click)="goBack()"></ion-icon>
    <ion-title>Create Account</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="create-account row center-xs middle-xs">
    <form
      ngForm
      name="authForm"
      class="create-account-form col-xs-6 shadow-2"
      #authForm="ngForm"
      (submit)="authenticate()"
    >
      <div class="clear-container">
        <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
        <span *ngIf="account.created && !loading" class="text-center red">Account created and can be change only after sign in!</span>
        <span class="text-center">Search for your Address. Country, State and City will be filled automatically.</span><br/><br/><br/>

        <div class="custom-input-container relative-inline-block">
          <span class="custom-input-label input-not-empty">Search for Address</span>
          <google-places-autocomplete types="geocode" [addressValue]="account.location.address" (callback)="detail($event[0])" (inputChanged)="account.clinic.location.address = $event; onChangeValidate()" key="AIzaSyDJYtcVzKXghryIDmQaTBDp5gWYPbTBqfU"></google-places-autocomplete>
        </div>
        <br/>

        <custom-input
          [itemDisabled]="true"
          [itemValue]="account.location.country"
          [itemLabel]="'Country'"
          [itemType]="'text'"
          [itemError]="''"
          (itemChange)="account.location.country = $event; onChangeValidate('country')"
        ></custom-input>
        <custom-input
          [itemDisabled]="true"
          [itemValue]="account.location.state"
          [itemLabel]="'State'"
          [itemType]="'text'"
          [itemError]="''"
          (itemChange)="account.location.state = $event; onChangeValidate('state')"
        ></custom-input>
        <custom-input
          [itemDisabled]="true"
          [itemValue]="account.location.city"
          [itemLabel]="'City'"
          [itemType]="'text'"
          [itemError]="''"
          (itemChange)="account.location.city = $event; onChangeValidate('city')"
        ></custom-input>
      </div>
      <div class="actions col-xs-12">
        <a class="link-nav pull-right" [ngClass]="!formValid || loading ? 'disabled' : ''" (click)="formValid || loading ? next() : false">
          Next
        </a>
      </div>
    </form>
    <img alt="Dermapenworld" src="{{logoTransparent}}" class="dpw-logo-foot">
  </div>
</ion-content>
