<ion-header>
  <ion-navbar class="custom-header">
    <ion-icon class="header-action-icon pull-left" name="arrow-back" tapable (click)="goBack()"></ion-icon>
    <ion-title>{{shouldAgreeItems.length === 1 ? shouldAgreeItems[0].title : 'Agreements'}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="legalsContent">
  <div class="legals row center-xs middle-xs">
    <form
      *ngIf="shouldAgreeItems.length"
      ngForm
      name="authForm"
      class="legals-form col-xs-6 shadow-2"
      #authForm="ngForm"
      (submit)="authenticate()"
    >
      <div class="clear-container">
        <pdf-viewer
          *ngIf="shouldAgreeItems[0]"
          id="pdfViewer{{shouldAgreeItems[0].propName}}"
          [src]="shouldAgreeItems[0].link"
          [render-text]="options.renderText"
          [autoresize]="options.autoresize"
          [original-size]="options.originalSize"
          [fit-to-page]="options.fitToPage"
          (page-rendered)="pageRendered()"
          style="display: block; max-width: 100vw;"
        ></pdf-viewer>
      </div>
      <div class="clear-container" *ngIf="pdfPageRendered">
        <ion-item class="transparent" *ngFor="let item of shouldAgreeItems">
          <ion-label>{{item.titleShort}}</ion-label>
          <ion-checkbox tappable [checked]="legals[item.propName]" (click)="legals[item.propName] = !legals[item.propName]; checkIsAllAgreed(legals)"></ion-checkbox>
        </ion-item>
      </div>
      <div class="actions col-xs-12" *ngIf="shouldAgreeItems.length && pdfPageRendered">
        <a
          class="link-nav pull-right"
          [ngClass]="isAllAgreed ? '' : 'disabled'" (click)="next()"
        >
          Agree
        </a>
      </div>
    </form>
    <img alt="Dermapenworld" src="{{logoTransparent}}" class="dpw-logo-foot">
  </div>
</ion-content>
