<div class="custom-input-container" [ngClass]="itemClass">
  <ion-label
    #inputLabel
    for="customInput{{itemLabel.split(' ').join('')}}"
    class="custom-input-label {{itemValue && itemValue.length ? 'input-not-empty' : ''}} {{inputLabel.isActive ? 'input-active' : ''}}"
  >
    {{itemLabel}}
  </ion-label>
  <ion-input
    [attr.autofocus]="false"
    [attr.false]="false"
    ngModel
    [disabled]="itemDisabled"
    [ngClass]="{ 'error': itemError && !inputLabel.isActive, 'input-active': inputLabel.isActive }"
    type="{{itemType ? itemType : 'text'}}"
    name="customInput{{itemLabel.split(' ').join('')}}"
    (ionFocus)="inputLabel.isActive=true"
    (ionBlur)="inputLabel.isActive=false; valueChange()"
    (keyup)="valueChange()"
    (input)="valueChange()"
    [(ngModel)]="itemValue"
    autoComplete="false"
    spellCheck="false"
    id="customInput{{itemLabel.split(' ').join('')}}"
  ></ion-input>
  <span *ngIf="!inputLabel.isActive && itemValue" class="custom-input-error">{{itemError}}</span>
</div>
